.container .log-in {
  margin-top: 8rem;
}

.container .welcome {
  margin-top: 14rem;
}


#welcome-title {
  margin-left: 6rem;
}

#welcome-text {
  max-width: 470px;
}

.signup-card {
  margin-top: 5rem;
}